<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NWNMasterServer.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NWNMasterServer.ServerSettings>
            <setting name="BindAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="BuildNumber" serializeAs="String">
                <value>1765</value>
            </setting>
            <setting name="MOTD" serializeAs="String">
                <value>Welcome to Neverwinter Nights 2!
 
Please join us at the Official Neverwinter Nights 2 forums at:
http://nwn2forums.bioware.com
 
Having trouble creating or joining games?  Please visit Atari's Customer Support at:
http://www.atarisupport.com</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ProductID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MasterServerPort" serializeAs="String">
                <value>6121</value>
            </setting>
        </NWNMasterServer.ServerSettings>
    </userSettings>
</configuration>
