<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="NWNMasterServerAPISettings">
      <section name="DatabaseSettings" type="NWN.DatabaseSettings" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="NWN.NWNMasterServerAPI">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NWNMS-WSHTTP" contract="NWN.INWNMasterServerAPI" />
        <endpoint address="ASMX" binding="basicHttpBinding" bindingConfiguration="NWNMS-ASMX" contract="NWN.INWNMasterServerAPI" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="NWNMS-MEX" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="NWNMS-WSHTTP">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="NWNMS-ASMX">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <mexHttpBinding>
        <binding name="NWNMS-MEX"/>
      </mexHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <NWNMasterServerAPISettings>
    <DatabaseSettings ConnectionString=""/>
  </NWNMasterServerAPISettings>
  
</configuration>
